{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}">
    {% block user_stylesheets %}
    {% endblock %}
    <title>{% block title %}SP-Test{% endblock %}</title>
</head>
<body>
<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item active" href="{% url 'index' %}">Home</a>
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <a class="blog-nav-item" href="{% url 'admin:index' %}">Admin</a>
                {% endif %}
                <a class="blog-nav-item" href="/logout/">Logout</a>
            {% endif %}
        </nav>
    </div>
</div>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>